
.gallery {
	width: 90%;
	height: 140px;
	margin: 10px auto;
	padding: 4px;
	border: 1px dashed #228ebd;
	background-image: none; /*url(gallery.png);*/
	background-repeat: no-repeat;
	background-position: top left;
}

/* global
----------------------------------------------- */
body {
	background: #fff url(bg.gif) no-repeat fixed top left;
	/*font-family: verdana, helvetica, arial, sans-serif;*/
	margin: 5px;
	margin-left: 1%;
	padding: 0px;
	color: #333;
}

.topbar {
	text-align: right;
	margin: 0px;
	margin-right: 50px;
	font-size: 80%;
}

input, textarea, select {
	border: 1px dotted #004183;
}

/* COLORS 004183 , 228ebd , be7109 , d6aa53 */

hr {
	/*border: 1px dashed #004183;*/
	border: 1px dashed #228ebd;
}

.colw {
	margin-left: 0px;
	margin-right: 1%;
	margin-top: 40px;
	margin-bottom: 50px;
	width: 65%;
	border: 1px dotted #228ebd;
	float: left;
	/*text-align: justify;*/
	/*background-color:#be7109;*/
	min-height: 250px;
}

.coln {
	margin-left: 0px;
	margin-right: 1%;
	margin-top: 40px;
	width: 32%;
	border: 1px dotted #228ebd;
	float: left;
	/*text-align: justify;*/
	/*background-color:#be7109;*/
	min-height: 250px;
	font-size: 0.9em;
	font-family: bitstream vera sans,sans-serif;
}

.colw h1, .colw h2, .colw h3,
.coln h1, .coln h2, .coln h3, .coln h4, .coln h5, .coln h6 {
	font-variant: small-caps;
	text-align: center;
	background-color:#228ebd;
	border-bottom: 1px dotted #fff;
	color: #fff;
}

.colw h3, .colw h4, .colw h5, .colw h6 {
	margin-top: 40px;
}

.colw h4 {
	padding-left: 20px;
	background: url(head.png) no-repeat 7px 6px;
}

.colw h5, .colw h6 {
	font-weight: normal;
}

.colw h4, .colw h5, .colw h6 {
	margin-top: 10px;
}

.colbody { 
	padding: 5px 10px 5px 10px;
	font-size: 0.9em;
	font-family: bitstream vera sans,sans-serif;
	text-align: justify;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-variant: small-caps;
}


p {
margin-bottom: 10px;
}

.license {
	padding-left: 20px;
}
pre {
	font-size: 0.8em;
	font-family: bitstream vera sans,sans-serif;
}

/* lists
----------------------------------------------- */
ul {
list-style:none;
margin: 5px 2px 2px 2px;
padding: 0px 0px 0px 10px;
}

ul li {
background: url(doc-hypen.png) no-repeat 7px 4px;
margin: 0;
padding: 0px 0 0 20px;
/*line-height: 14px;*/
}

.news ul li {
	background: url(list.png) no-repeat 7px 4px;
	font-size: 88%;
}
.devel ul li {
	background: url(dir.png) no-repeat 7px 4px;
	font-size: 90%;
}
.prop ul li {
	background: url(doc.png) no-repeat 7px 4px;
	font-size: 90%;
}

.extranote_small {
	margin-top: 20px;
	color: gray;
	padding: 0px 0 0 30px;
	font-size: 0.7em;
}

.extranote {
	margin-top: 20px;
	color: gray;
	padding: 0px 0 0 30px;
}

/* links
----------------------------------------------- */

a, a:link {
color: #a51212;
text-decoration: none;
}

a:hover {
text-decoration: underline;
color: #a51212;
}

a:visited {
color: #6b0707;
/*text-decoration: none;*/
}

.footer {
text-align: center;
width: 70%;
border-top: 1px dotted #be7109;
margin-top: 70px;
margin-left: 15%;
font-size: 60%;
padding: 2px;
}

/* headings
h3 { margin-bottom: 0px; }

h3 span { display: none; }

#supportingText h3 {
width: 529px;
height: 15px;
}

#linkList h3 {
width: 150px;
height: 20px;
margin-top: 20px;
}

#preamble h3 {
background: transparent url(h3_theroadtoenlightenment.gif) no-repeat top left;
width: 529px;
height: 26px;
}

#explanation h3 {
background: transparent url(h3_sowhatisthisabout.gif) no-repeat top left;
}
*/

/* misc
--------------------------------- */
acronym { border-width: 0; }

.thead {
font-weight: bold;
}
.subtext {
	padding-left: 20px;
}

/* COLORS 004183 , 228ebd , be7109 , d6aa53 */
td {
	padding: 2px;
	padding-right: 4px;
	border-bottom: 1px dotted #d6aa53;
}

