
/* CONTENT PAGE HEADER DEFINITION */
BODY{
	background: transparent url(others-background.gif) repeat-x top; 
}

#header{
		background:url("others-back.gif") no-repeat right top;
		height: 216px;
}

#banner {
	margin: 12px 0 0 10px;
	width: 950px;
	height: 100px;
	text-align: left;
	float: left;
}

#banner h2{
	font-size: 32px;
	margin: 0;
	padding: 0;
}

#banner p{
	font-size: 12px;
	padding: 0;
}

#search_box{
	    background: url(bg_search_box1.gif);
		 width: 278px;
}

banner .twoThirds, #banner .oneThird{
	height: 51px;
	text-align: left;
}

#banner .fullWidth{
	margin: 0;
	padding: 0;
	text-align: left;
}

